/**
* All the code of Plugin Admin Bar Style, should reside in this file.
*/

.ulr-admin-setting{
    display: block;
    position: relative;
}

.ulr-admin-setting .ulr-settings-heaeding{
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.ulr-admin-setting>p{
    padding-left: 5px;
}
